

@inject IViewLocalizer localizer


@inject SharedResources shared


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>$("#homeDashboard").addClass("active")</script>

<script src="~/js/highcharts.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body row">
                    <div class="height-550  row col-md-4 offset-md-1 m-0">
                        <div class="row col-md-12 p-0 m-0">
                            <div>
                                <h2 class="text-center font-weight-bold">@localizer["Month"]</h2>
                                <hr />
                                <div id="divMonth">
                                    <h3 class="text-center"></h3>
                                </div>
                                <hr />
                                <div>
                                    <h3 class="text-center font-weight-bold">@localizer["Total"]</h3>
                                </div>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div>
                                <h2 class="font-weight-bold">@localizer["ExpensedAmount"]</h2>
                                <hr />
                                <div id="divAmount">
                                    <h3 class="text-center">0</h3>
                                </div>
                                <hr />
                                <div>
                                    <h3 class="text-center font-weight-bold" id="totald">0</h3>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div id="MonthlyReport" class="height-550 echart-container col-md-8">

                    </div>
                    <a asp-action="Index" asp-controller="ExpenseReport" class="btn btn-primary offset-md-4" style="justify-content:center">@localizer["ForDetailsClick"]</a>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="card">

    <div style="width: 100%;">
        <div id="line" class="height-550 echart-container col-md-12">

        </div>
        <progress id="animationProgress" max="1" value="0" style="width: 100%"></progress>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function () {

            loadMonthlyExpenses();
            loadMonthlyIncomes();
        });

        function loadMonthlyExpenses() {
            var titleMessage = "";
            $.ajax({
                type: "GET",
                url: "/Home/MonthlyExpenses",
                contentType: "application/json",
                dataType: "json",
                success: function (result) {


                    var divMonth = "";
                    var divAmount = "";
                    var keys = Object.keys(result);
                    var monthlydata = new Array();
                    var totalspent = 0.0;
                    var amot = 0.0;
                    var months = new Array();
                    for (var i = 0; i < keys.length; i++) {
                        amot += result[keys[i]];
                        divMonth += '<h3 class="text-center">' + keys[i] + '</h3>';
                        divAmount += '<h3 class="text-center">' + parseFloat(result[keys[i]]).toFixed(2) + '</h3>';
                        var arrL = new Array();
                        arrL.push(keys[i]);
                        arrL.push(result[keys[i]]);
                        totalspent += result[keys[i]];
                        months += keys[i];
                        monthlydata.push(arrL);

                    }

                    $("#divMonth").html(divMonth);
                    $("#divAmount").html(divAmount);
                    $("#totald").text(totalspent.toFixed(2));
                    createCharts(monthlydata, titleMessage, totalspent.toFixed(2));


                }
            })
        }

        function createCharts(sum, titleText, totalspent) {
            Highcharts.chart('MonthlyReport', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',

                },
                legend: {
                    itemStyle: {
                        fontSize: '23px'

                    },

                    onClick: function (event, legendItem) {
                        log('onHover: ' + legendItem.text);
                        alert(legendItem.text)
                    },
                },
                title: {
                    style: {
                        fontSize: '35px'

                    },
                    text: '@localizer["MonthlyExpenseTotal"]'
                },

                tooltip: {
                    headerFormat: '<span style="font-size:20px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true,

                },
                accessibility: {
                    point: {
                        valueSuffix: '%',
                        fontSize: '30px'
                    },

                },

                plotOptions: {
                    pie: {

                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            style: {

                                fontSize: '22px'
                            },
                        },

                        showInLegend: true,


                    },

                },

                series: [{

                    style: {
                        fontSize: '30px'

                    },
                    colorByPoint: true,
                    data: sum,
                }],
            });
        }

        function loadMonthlyIncomes() {

            $.ajax({
                type: "GET",
                url: "/Home/MonthlyIncomes",
                contentType: "application/json",
                dataType: "json",
                success: function (result) {



                    var keys = Object.keys(result.afghani);
                    var monthlyAfghani = new Array();
                    var af = 0.0;
                    var months = new Array();
                    for (var i = 0; i < keys.length; i++) {
                        var arrL = new Array();
                        arrL.push(keys[i]);
                        arrL.push(result.afghani[keys[i]]);
                        af += result.afghani[keys[i]];
                        months += keys[i];
                        monthlyAfghani.push(arrL);

                    }

                    var keys = Object.keys(result.pk);
                    var monthlyPk = new Array();
                    var pk = 0.0;
                    var months = new Array();
                    for (var i = 0; i < keys.length; i++) {
                        var arrL = new Array();
                        arrL.push(keys[i]);
                        arrL.push(result.pk[keys[i]]);
                        pk += result.pk[keys[i]];
                        months += keys[i];
                        monthlyPk.push(arrL);

                    }


                    var keys = Object.keys(result.dollar);
                    var monthlyDollar = new Array();
                    var dollar = 0.0;
                    var months = new Array();
                    for (var i = 0; i < keys.length; i++) {
                        var arrL = new Array();
                        arrL.push(keys[i]);
                        arrL.push(result.dollar[keys[i]]);
                        dollar += result.dollar[keys[i]];
                        months += keys[i];
                        monthlyDollar.push(arrL);

                    }

                    createLineChart(monthlyAfghani, monthlyPk, monthlyDollar, af.toFixed(2), pk.toFixed(2), dollar.toFixed(2));


                }
            })
        }

        function createLineChart(afghani, pk, dollar, af, p, dol) {
            Highcharts.chart('line', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '@localizer["SystemMonthlyIncome"]',
                    style: {
                        fontSize: '35px',

                    },
                },
                subtitle: {
                    style: {
                        fontSize: '20px',
                        direction: 'ltr',
                    },
                    text: '<p dir="ltr">' + dol + '= @localizer["AF"] = </p>' + '<p  dir="ltr"> ' + af + ' @localizer["PK"]  =</p>' + '<p dir="ltr"> ' + p + '  @localizer["US"] </>',
                },


                xAxis: {
                    type: 'category',

                    labels: {
                        rotation: -15,

                        style: {
                            fontSize: '20px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: '@localizer["IncomeAmount"]',
                        style: {
                            fontSize: '25px'

                        }
                    },
                    labels: {
                        style: {
                            fontSize: '17px'

                        },
                        formatter: function () {
                            return this.value;
                        },

                    }
                },
                
                tooltip: {
                    headerFormat: '<span style="font-size:17px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name} </td>' +
                        '<td style="padding:0;font-size:15px;"><b>{point.y:.1f} </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true,
                    crosshairs: true,
                    shared: true
                },
                legend: {
                    itemStyle: {
                        fontSize: '23px'
                    },
                },
                plotOptions: {

                    spline: {
                        marker: {
                            radius: 6,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: [{
                    name: '@localizer["AF"] ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: afghani,

                }, {
                        name: '@localizer["PK"] ',
                    marker: {
                        symbol: 'circle'
                    },
                    data: pk
                }
                    , {
                        name: '@localizer["US"] ',
                    fontSize: '25px',

                    marker: {
                        symbol: 'circle'
                    },
                    data: dollar
                }]
               
            });

        }

    </script>

}
