@model AllViewModel


@inject IViewLocalizer localizer

@inject SharedResources shared

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorize

@if (!(await authorize.AuthorizeAsync(User, "ViewRolePolicy")).Succeeded)
{

    @await Html.PartialAsync("AccessDeniedPartial")


    ViewBag.view = "d-none";
    ViewBag.Insert = "d-none";
    ViewBag.Delete = "d-none";
    ViewBag.Edit = "d-none";
}


@if ((await authorize.AuthorizeAsync(User, "ViewRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "d-none";
    ViewBag.Delete = "d-none";
    ViewBag.Edit = "d-none";
}

@if ((await authorize.AuthorizeAsync(User, "InsertRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "";
    ViewBag.Delete = "d-none";
    ViewBag.Edit = "d-none";
}

@if ((await authorize.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "";
    ViewBag.Edit = "";
    ViewBag.Delete = "d-none";
}

@if ((await authorize.AuthorizeAsync(User, "DeleteRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "";
    ViewBag.Edit = "";
    ViewBag.Delete = "";
}

<link href="~/metronic/components-rounded-rtl.min.css" rel="stylesheet" />

<div class="col-md-12 mt-3 @ViewBag.view">
    <div class="col-md-12 " style="margin:0px;" id="customercard">
        <div class="card">
            <div class="card">
                <div class="card-header">
                    <h3 style="font-style:oblique" class="">@localizer["BankFrom"]</h3>

                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="list-group">
                            <div class="row">
                                <div class="col-md-4 float-right">
                                    <a href="#" class=" list-group-item list-group-item-action list-group-item-success" style="height:130%"><strong class="float-left">@shared.Get("AFN"):</strong> <strong class="float-right" id="afghani" dir="ltr">0</strong></a>
                                </div>
                                <div class="col-md-4 float-left">
                                    <a href="#" class=" list-group-item list-group-item-action list-group-item-info" style="height:130%"><strong class="float-left">@shared.Get("PKR"):</strong> <strong class="float-right" id="rupe" dir="ltr">0</strong></a>
                                </div>
                                <div class="col-md-4 float-left">
                                    <a href="#" class=" list-group-item list-group-item-action list-group-item-warning" style="height:130%"><strong class="float-left">@shared.Get("USD"):</strong> <strong class="float-right" id="doller" dir="ltr">0</strong></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header ">
                <h4 class="card-title "><strong>@localizer["BanksList"]</strong></h4>

            </div>
            <div class="col-md-3">
                <button type="button" id="btnAddDealer" class="btn  btn-primary @ViewBag.Insert" data-toggle="modal"
                        data-target="#bootstrap2">
                   @localizer["AddNewBank"]
                </button>
            </div>
            <table class="table table-responsive-md table-striped table-condensed  table-bordered dataTables_scrollHead" id="tbl2">
                <thead class="scrollable-container ps--scrolling-x ">
                    <tr role="row">
                        <th class="col-md-3">@localizer["BankOrSaraf"]</th>
                        <th class="col-md-1"> @localizer["Phone"]</th>
                        <th class="col-md-3 @ViewBag.Insert">@localizer["Select"]</th>
                        <th class="col-md-1 @ViewBag.Edit">@shared.Get("Edit")</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="card d-none" style="margin:0px; height:100%" id="dealcard">
        <hr />
        @* ///////////  Tabs ///////////// *@
        <div class="card-header">
            <h3 class="card-title" style="text-align:center"><label class="font-medium-4" style="font-size:x-large">@localizer["AccountDetails"]</label></h3>
            <div class="col-md-2" style="margin-top: 36px;"><button type="button" class="btn grey btn-outline-secondary" id="btnStored">@localizer["List"]</button></div>
        </div>
        <div class="card-content">
            <div class="card-body">
                <ul class="nav nav-tabs nav-justified nav-top-border no-hover-bg nav-justified">
                    <li class="nav-item">
                        <a class="nav-link   " id="active-tab1" data-toggle="tab" href="#active1" aria-controls="active1" aria-expanded="true"><label style="font-size:large">@localizer["AFNDeal"]</label></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="link-tab1" data-toggle="tab" href="#link1" aria-controls="link1" aria-expanded="false"><label style="font-size:large">@localizer["PKRDeal"]</label></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="linkOpt-tab1" data-toggle="tab" href="#linkOpt1" aria-controls="linkOpt1"><label style="font-size:large"> @localizer["USDDeal"] </label></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " id="linkOpt-tab2" data-toggle="tab" href="#linkOpt2" aria-controls="linkOpt1"><label style="font-size:large"> @localizer["TotalDeal"] </label></a>
                    </li>
                </ul>
                <div class="tab-content pt-1">
                    <div role="tabpanel" class="tab-pane dt-ext table-responsive" id="active1" aria-labelledby="active-tab1" aria-expanded="true">
                        <div class="col-md-2">
                            <button type="button" onclick="afghaniDeal()" class="btn btn-info   mr-1" data-toggle="modal" data-target="#bootstrap"><i class="ft-plus-circle "></i>&nbsp; @localizer["NewDeal"]</button>
                        </div>
                        <table class="table  table-striped table-condensed table-bordered dataTables_scrollHead " id="afghaniTable">
                            <thead class="scrollable-container ps--scrolling-x">
                                <tr role="row">
                                    <th class="col-md-2">@localizer["BankOrSaraf"]</th>
                                    <th class="col-md-2">@localizer["Phone"]</th>
                                    <th class="col-md-1">@localizer["Credit"]</th>
                                    <th class="col-md-1">@localizer["Debit"]</th>
                                    <th class="col-md-2 @ViewBag.Insert">@shared.Get("Details")</th>
                                    <th class="col-md-2">@localizer["By"]</th>
                                    <th class="col-md-2">@localizer["Date"]</th>
                                    <th class="col-md-2 @ViewBag.Delete">@shared.Get("Delete")</th>
                                </tr>
                            </thead>

                            <tbody></tbody>

                        </table>

                        <div class="portlet-body">
                            <div class="mt-element-step">

                                <div class="row step-default">
                                    <div class="col-md-4 bg-grey mt-step-col active">
                                        <div class="mt-step-number bg-white font-grey"><strong>@localizer["Credit"]</strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="afghaniCredit" dir="ltr">0</strong></div>
                                    </div>
                                    <div class="col-md-4 bg-grey mt-step-col ">
                                        <div class="mt-step-number bg-white kt-font-dark "><strong>@localizer["Debit"] </strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="afghaniDebit" dir="ltr">0</strong></div>
                                    </div>
                                    <div class="col-md-4 bg-grey mt-step-col active">
                                        <div class="mt-step-number bg-white font-grey"><strong>@localizer["Balance"]</strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="afghaniRemain" dir="ltr">0</strong></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="link1" role="tabpanel" aria-labelledby="link-tab1" aria-expanded="true">

                        <div class="col-md-2">
                            <button type="button" onclick="rupeDeal()" class="btn btn-info " data-toggle="modal" data-target="#bootstrap"><i class="ft-plus-circle"></i>&nbsp; @localizer["NewDeal"]</button>
                        </div>
                        @* //////////////  Rupe Data Table/////// *@
                        <div class="dt-ext table-responsive">
                            <table class="table  table-striped table-condensed table-bordered dataTables_scrollHead" id="rupeTable">
                                <thead class="scrollable-container ps--scrolling-x">
                                    <tr role="row">
                                        <th class="col-md-2">@localizer["BankOrSaraf"]</th>
                                        <th class="col-md-2">@localizer["Phone"]</th>
                                        <th class="col-md-1">@localizer["Credit"]</th>
                                        <th class="col-md-1">@localizer["Debit"]</th>
                                        <th class="col-md-2 @ViewBag.Insert">@shared.Get("Details")</th>
                                        <th class="col-md-2">@localizer["By"]</th>
                                        <th class="col-md-2">@localizer["Date"]</th>
                                        <th class="col-md-2 @ViewBag.Delete">@shared.Get("Delete")</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>
                        </div>

                        @* ////////////////////////////// *@
                        <div class="portlet-body">
                            <div class="mt-element-step">
                                <div class="row step-default">
                                    <div class="col-md-4 bg-grey mt-step-col active">
                                        <div class="mt-step-number bg-white font-grey"><strong>@localizer["Credit"]</strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="rupeCredit" dir="ltr">0</strong></div>
                                    </div>
                                    <div class="col-md-4 bg-grey mt-step-col ">
                                        <div class="mt-step-number bg-white kt-font-dark "><strong>@localizer["Debit"] </strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="rupeDebit" dir="ltr">0</strong></div>
                                    </div>
                                    <div class="col-md-4 bg-grey mt-step-col active">
                                        <div class="mt-step-number bg-white font-grey"><strong>@localizer["Balance"]</strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="rupeRemain" dir="ltr">0</strong></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane " id="linkOpt1" role="tabpanel" aria-labelledby="linkOpt-tab1" aria-expanded="false">
                        <div class="col-md-2">
                            <button type="button" onclick="dollerDeal()" class="btn btn-info   mr-1" data-toggle="modal" data-target="#bootstrap"><i class="ft-plus-circle"></i>&nbsp; @localizer["NewDeal"]</button>
                        </div>
                        @* /////////////// Doller DataTable ////////// *@
                        <div class="dt-ext table-responsive">
                            <table class="table  table-striped table-condensed table-bordered dataTables_scrollHead" id="dollerTable">
                                <thead class="scrollable-container ps--scrolling-x">
                                    <tr role="row">
                                        <th class="col-md-2">@localizer["BankOrSaraf"]</th>
                                        <th class="col-md-2">@localizer["Phone"]</th>
                                        <th class="col-md-1">@localizer["Credit"]</th>
                                        <th class="col-md-1">@localizer["Debit"]</th>
                                        <th class="col-md-2 @ViewBag.Insert">@shared.Get("Details")</th>
                                        <th class="col-md-2">@localizer["By"]</th>
                                        <th class="col-md-2">@localizer["Date"]</th>
                                        <th class="col-md-2 @ViewBag.Delete">@shared.Get("Delete")</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>
                        </div>

                        @* /////////////////////////////// ////////// *@

                        <div class="portlet-body">
                            <div class="mt-element-step">
                                <div class="row step-default">
                                    <div class="col-md-4 bg-grey mt-step-col active">
                                        <div class="mt-step-number bg-white font-grey"><strong>@localizer["Credit"]</strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="dollerCredit" dir="ltr">0</strong></div>
                                    </div>
                                    <div class="col-md-4 bg-grey mt-step-col ">
                                        <div class="mt-step-number bg-white kt-font-dark "><strong>@localizer["Debit"]</strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="dollerDebit" dir="ltr">0</strong></div>
                                    </div>
                                    <div class="col-md-4 bg-grey mt-step-col active">
                                        <div class="mt-step-number bg-white font-grey"><strong>@localizer["Balance"]</strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="dollerRemain" dir="ltr">0</strong></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane in active" id="linkOpt2" role="tabpanel" aria-labelledby="linkOpt-tab1" aria-expanded="false">
                        <div class="portlet-body">
                            <div class="mt-element-step">
                                <div class="row step-default">
                                    <div class="col-md-4 bg-grey mt-step-col active">
                                        <div class="mt-step-number bg-white font-grey"><strong>@localizer["AFNTotal"]</strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="totalAfghani" dir="ltr">0</strong></div>
                                    </div>
                                    <div class="col-md-4 bg-grey mt-step-col ">
                                        <div class="mt-step-number bg-white kt-font-dark "><strong>@localizer["PKRTotal"] </strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="totalRupe" dir="ltr">0</strong></div>
                                    </div>
                                    <div class="col-md-4 bg-grey mt-step-col active">
                                        <div class="mt-step-number bg-white font-grey"><strong>@localizer["USDTotal"]</strong></div>
                                        <div class="mt-step-title uppercase font-grey-cascade"><strong id="totalDoller" dir="ltr">0</strong></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*  //////// End Tabs // *@
    </div>
</div>
<!-- Modal -->
<div class="modal fade text-left" id="bootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info white">
                <h3 class="modal-title" id="myModalLabel35"></h3>
            </div>
            <form data-ajax="true" asp-controller="HDealing" asp-action="NewDeal" data-ajax-success="frmSuccess(data)" data-ajax-method="post" id="frmCustomerReg">
                <input hidden asp-for="deal.CurrencyID" />
                <input hidden asp-for="deal.DealerID" />
                <div class="modal-body " style="padding:0 15px">
                    <div class="form-group ">
                        <label for="total">@localizer["TotalAccount"]:</label>
                        <input type="text" disabled class="form-control" id="txtTotalDebit" >
                    </div>
                    <div class="form-group">
                        <label class="">@localizer["AddMoney"]:</label>
                        <input asp-for="deal.Credit" onkeyup="creditMode()"  class="form-control" />
                        <span asp-validation-for="deal.Credit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="">@localizer["WithDraw"]:</label>
                        <input asp-for="deal.Debit" onkeyup="debitMode()" class="form-control" />
                        <span asp-validation-for="deal.Debit" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label for="total">@localizer["Cash"]:</label>
                        <input type="checkbox" class="form-control" id="cash" name="cash" placeholder="">
                    </div>
                    <div class="form-group ">
                        <label for="total">@localizer["NewBalance"]:</label>
                        <input type="text" disabled class="form-control" id="txtRemainDebit" >
                    </div>
                    <div class="form-group ">
                        <label for="total">@shared.Get("Details"):</label>
                        <input asp-for="deal.Detail"  class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="@localizer["Close"]">
                    <input type="submit" class="btn btn-outline-primary btn-lg" id="btnsubmitDealer" value="@shared.Get("Save")">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="d-none">
    <form data-ajax="true" asp-controller="HDealing" asp-action="GetAllDeals" data-ajax-success="loadSingleDealerDeal(data)" data-ajax-method="post" id="">
        <input type="hidden" name="DealerID" id="idForReload" value="" />
        <button type="submit" class="btn btn-primary" id="btnReloadDeals"></button>
    </form>
</div>
@*  /////////////////////////  Model qarz hasana dealrt //////////// *@
<div class="modal fade text-left" id="bootstrap2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info white">
                <h3 class="modal-title" id="myModalLabel35"> @localizer["Ragister"]</h3>
            </div>
            <form data-ajax="true" asp-action="NewHdealer" asp-controller="HDealing" data-ajax-success="HfrmSuccess(data)" data-ajax-method="post" id="HDealingfrm">
                <div class="modal-body" style="padding:0 15px">
                    <input hidden asp-for="hdealer.HDealerID" value="0" />
                    <fieldset class="form-group floating-label-form-group">
                        <div class="form-group">
                            <label  class="">@localizer["Name"]</label>
                            <input asp-for="hdealer.HDealer"  class="form-control" />
                            <span asp-validation-for="hdealer.HDealer" class="text-danger"></span>
                        </div>
                    </fieldset>
                    <fieldset class="form-group floating-label-form-group">
                        <div class="form-group">
                            <label class="">@localizer["Phone"]</label>
                            <input asp-for="hdealer.Mobile"  class="form-control" />
                            <span asp-validation-for="hdealer.Mobile" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="@localizer["Close"]">
                    <input type="submit" class="btn btn-outline-primary btn-lg" value="@shared.Get("Save")">
                </div>
            </form>
        </div>
    </div>
</div>


<form data-ajax="true" asp-action="DeleteRecord" data-ajax-method="post" asp-controller="HDealing" data-ajax-success="deletedCustomer(data)">
    <input hidden id="deleteIdCus" name="recordId" />
    <button type="submit" class="d-none" id="btnDeleteCus"></button>
</form>

<div class="d-none">
    <form data-ajax="true" asp-controller="HDealing" asp-action="GetAllDeals" data-ajax-success="SuccessDealInfo(data)" data-ajax-method="post" id="">
        <input type="hidden" name="DealerID" id="idForReload" value="" />
        <button type="submit" class="btn btn-primary" id="btnReloadDeals"></button>
    </form>
</div>


<input type="hidden" name="name" id="dealerid" value="" />

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

<script>
        $(document).ready(function () {
            LoadCustomers();
            HasanaLoanReport();
        })
        $("#btnStored").click(function () {
            $("#customercard").removeClass("d-none");
            $("#dealcard").addClass("d-none");
        })
        function HasanaLoanReport() {

            $.ajax({
                url: '/HDealing/HasanaLoanReport/',
                type: 'GET',
                contentType: "application/json",
                datatype: "JSON",
                success: function (data) {

                    $("#afghani").text(data.afghaniLoan);
                    $("#rupe").text(data.rupeLoan);
                    $("#doller").text(data.dollerLoan);
                    if (data.afghaniLoan < 0) {
                        $("#afghani").addClass("text-danger");
                    }
                    if (data.rupeLoan < 0) {
                        $("#rupe").addClass("text-danger");
                    }
                    if (data.dollerLoan < 0) {
                        $("#doller").addClass("text-danger");
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })

        }
        function passHDealerInfo(hdealerId, hdealer1, mobile) {
            $("#hdealer_HDealerID").val(hdealerId);
            $("#hdealer_HDealer").val(hdealer1);
            $("#hdealer_Mobile").val(mobile);
            $("#btnsubmitDealer").val("@shared.Get("Update")");
        }
        function LoadCustomers() {
            $.ajax({
                url: '/HDealing/FetchHDealers/',
                type: 'GET',
                contentType: "application/json",
                datatype: "JSON",
                success: function (customers) {
                    var tr = "";
                    console.log(customers);
                    $.each(customers, function (i, col) {
                        tr += ' <tr>';
                        tr += '      <td class="col-md-2"> ' + col.hdealer1 + ' </td>';
                        tr += '     <td  class="col-md-2"> ' + col.mobile + '</td>';
                        tr += '     <td  class="col-md-2 @ViewBag.Insert">  <form data-ajax="true" data-ajax-url="/HDealing/GetAllDeals" data-ajax-success="loadSingleDealerDeal(data)" data-ajax-method="post" ><input type="hidden" name="DealerID" value="' + col.hdealerId + '" /><button type="submit" class="btn btn-primary" onclick="passValue(' + col.hdealerId + ',\'' + col.hdealer1 + '\',\'' + col.mobile + '\')" ><i" class="ft-info" ></i></button> </form> </td>';
                        tr += '     <td  class="col-md-2 @ViewBag.Edit"><button class="btn btn-info"  data-toggle="modal"   data-target="#bootstrap2" onclick="passHDealerInfo(' + col.hdealerId + ',\'' + col.hdealer1 + '\',\'' + col.mobile + '\')"><i class="fa fa-edit"></i></button></td>';
                        tr += ' </tr>';
                    });
                    var table = $("#tbl2").dataTable();
                    table.fnDestroy();

                    $("#tbl2>tbody").html("").html(tr);

                    $("#tbl2").DataTable({

                        stateSave: true,

                       "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "@shared.Get("All")"]],
                        "pageLength": 5,
                        "language": {
                        "emptyTable": " @shared.Get("NoDataInTable")",
                        "info": "@shared.Get("FromToShow")",
                        "infoFiltered": "@shared.Get("ExistItemsInTable")",

                        "lengthMenu": "@shared.Get("ShowingRecordsNumber")",
                        "search": "@shared.Get("Search")<span id='tblSearch' class='fa fa-search'></span> ",
                        "searchPlaceholder": "@shared.Get("Search")",
                        "zeroRecords": "@shared.Get("NoRecordFound")",
                        "paginate": {
                        "first": "@shared.Get("FirstPage")",
                        "previous": "@shared.Get("Previous")",
                        "next": "@shared.Get("Next")",
                        "last": "@shared.Get("Last")"
                        },
                        },


                    });

                },
                error: function (err) {
                    console.log(err)
                }
            })
        }
        function passValue(hdealerId, hdealer1, mobile) {

            $("#idForReload").val(hdealerId);
            $("#dealerid").val(hdealerId);
            $("#deal_DealerID").val(hdealerId);

            $("#userinput1").val(hdealer1);
            $("#userinput2").val(mobile);

            $("#customercard").addClass("d-none");
            $("#dealcard").removeClass("d-none");
        }
        function backToList() {
            $("#customercard").removeClass("d-none");
            $("#dealcard").addClass("d-none");

        }
        function afghaniDeal() {
            $("#deal_DealerID").val($("#dealerid").val());
            $("#deal_CurrencyID").val(1);
            $("#myModalLabel35").text("@localizer["AFNDeal"]");
            $("#txtTotalDebit").val(totalAfghaniDebit);
            $("#txtRemainDebit").val(totalAfghaniDebit);

        }
        function rupeDeal() {
            $("#deal_DealerID").val($("#dealerid").val());
            $("#deal_CurrencyID").val(2);
            $("#myModalLabel35").text("@localizer["PKRDeal"]");

            $("#txtTotalDebit").val(totalRupeDebit);
            $("#txtRemainDebit").val(totalRupeDebit);
        }
        function dollerDeal() {
            $("#deal_DealerID").val($("#dealerid").val());
            $("#deal_CurrencyID").val(3);
            $("#myModalLabel35").text("@localizer["USDDeal"]");

            $("#txtTotalDebit").val(totalDollerDebit);
            $("#txtRemainDebit").val(totalDollerDebit);
        }
        function creditMode() {
            $("#deal_Debit").val(0);
            $("#txtRemainDebit").val($("#txtTotalDebit").val() - $("#deal_Credit").val());
        }
        function debitMode() {
            $("#deal_Credit").val(0);
            var total = parseInt($("#txtTotalDebit").val());
            var debit = parseInt($("#deal_Debit").val());
            var remain = total + debit;
            $("#txtRemainDebit").val(remain);
        }
        function frmSuccess(data) {
            $("#CustmerID").val(0);
            $("#deal_Debit").val("");
            $("#deal_Credit").val("");

            toastr.success("@localizer["Success"]", '', { "progressBar": true, positionClass: '@shared.Get("Toast")', containerId: '@shared.Get("Toast")' });
            $("#txtTotalDebit").val($("#txtRemainDebit").val());
            $("#btnReloadDeals").trigger("click");
            HasanaLoanReport();
        }
        function HfrmSuccess(data) {
            $("#hdealer_HDealerID").val(0);
            $("#hdealer_HDealer").val("");
            $("#hdealer_Mobile").val("");
            LoadCustomers();
            HasanaLoanReport();
            toastr.success("@localizer["Success2"]", '', { "progressBar": true, positionClass: '@shared.Get("Toast")', containerId: '@shared.Get("Toast")' });
    }


    function DeleteCustomerRecord(id, dealerid) {
        $("#deleteIdCus").val(id);
        $("#idForReload").val(dealerid);
        swal({

            title: '@shared.Get("AreYouSureToDelete")',
            text: "",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "@shared.Get("No")",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "@shared.Get("Yes")",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            }

        }).then((isConfirm) => {
            if (isConfirm) {
                $("#btnDeleteCus").trigger("click");
            }
        });

    }

    function deletedCustomer(data) {

        toastr.success("@localizer["Deleted"]", '', { "progressBar": true, positionClass: '@shared.Get("Toast")', containerId: '@shared.Get("Toast")' });
        HasanaLoanReport();
        $("#btnReloadDeals").trigger("click");
    }


        // HDealingfrm
        var afghaniShow = true;
        var rupeShow = true;
        var dollerShow = true;

        var totalAfghaniDebit = 0;
        var totalRupeDebit = 0;
        var totalDollerDebit = 0;
        function loadSingleDealerDeal(result) {
            //  console.log(result);

            var afghaniDeals = "";
            var rupeDeals = "";
            var dollerDeals = "";

            var allAfghaniCredit = 0;
            var allAfghaniDebit = 0;

            var allRupeCredit = 0;
            var allRupeDebit = 0;

            var allDollerCredit = 0;
            var allDollerDebit = 0;

            $.each(result, function (i, col) {

                if (col.currencyid == 1) {

                    var detail = "";
                    if (col.detail == null) {
                        detail = "";

                    } else {
                        detail = col.detail;

                    }

                    afghaniDeals += " <tr>";
                    afghaniDeals += "      <td> " + col.dealer + " </td>";
                    afghaniDeals += "      <td> " + col.phone + " </td>";
                    afghaniDeals += "      <td> " + col.credit + " </td>";
                    afghaniDeals += "      <td> " + col.debit + " </td>";
                    afghaniDeals += "      <td> " + detail + " </td>";
                    afghaniDeals += "      <td> " + col.employee + "  </td>";
                    afghaniDeals += "     <td>  " + col.date + " </td>";
                    afghaniDeals += "     <td class='@ViewBag.Delete'><button type='button' class='btn btn-danger ' onclick='DeleteCustomerRecord(" + col.dealid + ",\"" + col.dealerid + "\")' ><i class='fa fa-trash'></i></button></td>";
                    afghaniDeals += "      </tr>";
                    allAfghaniCredit += col.credit;
                    allAfghaniDebit += col.debit;
                }
                if (col.currencyid == 2) {

                    var detail = "";
                    if (col.detail == null) {
                        detail = "";

                    } else {
                        detail = col.detail;

                    }

                    rupeDeals += " <tr>";
                    rupeDeals += "      <td> " + col.dealer + " </td>";
                    rupeDeals += "      <td> " + col.phone + " </td>";
                    rupeDeals += "      <td> " + col.credit + " </td>";
                    rupeDeals += "      <td> " + col.debit + " </td>";
                    rupeDeals += "      <td> " + detail + " </td>";
                    rupeDeals += "      <td> " + col.employee + "  </td>";
                    rupeDeals += "      <td>  " + col.date + " </td>";
                    rupeDeals += "     <td class='@ViewBag.Delete'><button type='button' class='btn btn-danger ' onclick='DeleteCustomerRecord(" + col.dealid + ",\"" + col.dealerid + "\")' ><i class='fa fa-trash'></i></button></td>";
                    rupeDeals += "      </tr>";
                    allRupeCredit += col.credit;
                    allRupeDebit += col.debit;
                }
                if (col.currencyid == 3) {

                    var detail = "";
                    if (col.detail == null) {
                        detail = "";

                    } else {
                        detail = col.detail;

                    }

                    dollerDeals += " <tr>";
                    dollerDeals += "      <td> " + col.dealer + " </td>";
                    dollerDeals += "      <td> " + col.phone + " </td>";
                    dollerDeals += "      <td> " + col.credit + " </td>";
                    dollerDeals += "      <td> " + col.debit + " </td>";
                    dollerDeals += "      <td> " + detail + " </td>";
                    dollerDeals += "      <td> " + col.employee + "  </td>";
                    dollerDeals += "      <td>  " + col.date + " </td>";
                    dollerDeals += "     <td class='@ViewBag.Delete'><button type='button' class='btn btn-danger ' onclick='DeleteCustomerRecord(" + col.dealid + ",\"" + col.dealerid + "\")' ><i class='fa fa-trash'></i></button></td>";
                    dollerDeals += "      </tr>";
                    allDollerCredit += col.credit;
                    allDollerDebit += col.debit;
                }
            })


            var table = $("#afghaniTable").dataTable();
            table.fnDestroy();

            var table = $("#dollerTable").dataTable();
            table.fnDestroy();

            var table = $("#rupeTable").dataTable();
            table.fnDestroy();


            $("#afghaniTable>tbody").html("").html(afghaniDeals);

                var table = $("#afghaniTable").dataTable({

                    stateSave: true,

                    dom: 'Blfrtip', buttons: ['excel', 'print', 'copy'],
                    "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "@shared.Get("All")"]],
                    "pageLength": 5,
                    "language": {
                    "emptyTable": " @shared.Get("NoDataInTable")",
                    "info": "@shared.Get("FromToShow")",
                    "infoFiltered": "@shared.Get("ExistItemsInTable")",

                    "lengthMenu": "@shared.Get("ShowingRecordsNumber")",
                    "search": "@shared.Get("Search")<span id='tblSearch' class='fa fa-search'></span> ",
                    "searchPlaceholder": "@shared.Get("Search")",
                    "zeroRecords": "@shared.Get("NoRecordFound")",
                    "paginate": {
                    "first": "@shared.Get("FirstPage")",
                    "previous": "@shared.Get("Previous")",
                    "next": "@shared.Get("Next")",
                    "last": "@shared.Get("Last")"
                    },
                    },

                });

                $(".buttons-print").text("@shared.Get("Print")")
                $(".buttons-copy").text("@shared.Get("Copy")")
                $(".buttons-excel").text("@shared.Get("Excel")")

                $('.buttons-copy, .buttons-print, .buttons-excel').addClass('btn btn-primary ');


            $("#rupeTable>tbody").html('').html(rupeDeals);

                var table = $("#rupeTable").DataTable({

                    stateSave: true,
                    dom: 'Blfrtip', buttons: ['excel', 'print', 'copy'],
                   "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "@shared.Get("All")"]],
                    "pageLength": 5,
                    "language": {
                    "emptyTable": " @shared.Get("NoDataInTable")",
                    "info": "@shared.Get("FromToShow")",
                    "infoFiltered": "@shared.Get("ExistItemsInTable")",

                    "lengthMenu": "@shared.Get("ShowingRecordsNumber")",
                    "search": "@shared.Get("Search")<span id='tblSearch' class='fa fa-search'></span> ",
                    "searchPlaceholder": "@shared.Get("Search")",
                    "zeroRecords": "@shared.Get("NoRecordFound")",
                    "paginate": {
                    "first": "@shared.Get("FirstPage")",
                    "previous": "@shared.Get("Previous")",
                    "next": "@shared.Get("Next")",
                    "last": "@shared.Get("Last")"
                    },
                    },


                });
                 $(".buttons-print").text("@shared.Get("Print")")
                $(".buttons-copy").text("@shared.Get("Copy")")
                $(".buttons-excel").text("@shared.Get("Excel")")
                $('.buttons-copy, .buttons-print, .buttons-excel').addClass('btn btn-primary ');


            $("#dollerTable>tbody").html('').html(dollerDeals);

                $("#dollerTable").DataTable({

                    stateSave: true,
                    dom: 'Blfrtip', buttons: ['excel', 'print', 'copy'],
                   "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "@shared.Get("All")"]],
                    "pageLength": 5,
                    "language": {
                    "emptyTable": " @shared.Get("NoDataInTable")",
                    "info": "@shared.Get("FromToShow")",
                    "infoFiltered": "@shared.Get("ExistItemsInTable")",

                    "lengthMenu": "@shared.Get("ShowingRecordsNumber")",
                    "search": "@shared.Get("Search")<span id='tblSearch' class='fa fa-search'></span> ",
                    "searchPlaceholder": "@shared.Get("Search")",
                    "zeroRecords": "@shared.Get("NoRecordFound")",
                    "paginate": {
                    "first": "@shared.Get("FirstPage")",
                    "previous": "@shared.Get("Previous")",
                    "next": "@shared.Get("Next")",
                    "last": "@shared.Get("Last")"
                    },
                    },

                });
                 $(".buttons-print").text("@shared.Get("Print")")
                $(".buttons-copy").text("@shared.Get("Copy")")
                $(".buttons-excel").text("@shared.Get("Excel")")
                $('.buttons-copy, .buttons-print, .buttons-excel').addClass('btn btn-primary ');


            $("#afghaniDebit").text(allAfghaniDebit);
            $("#afghaniCredit").text(allAfghaniCredit);
            $("#afghaniRemain").text(allAfghaniCredit - allAfghaniDebit);

            $("#rupeDebit").text(allRupeDebit);
            $("#rupeCredit").text(allRupeCredit);
            $("#rupeRemain").text(allRupeCredit - allRupeDebit);

            $("#dollerDebit").text(allDollerDebit);
            $("#dollerCredit").text(allDollerCredit);
            $("#dollerRemain").text(allDollerCredit - allDollerDebit);

            $("#totalAfghani").text(allAfghaniCredit - allAfghaniDebit);
            $("#totalRupe").text(allRupeCredit - allRupeDebit);
            $("#totalDoller").text(allDollerCredit - allDollerDebit);

            totalAfghaniDebit = allAfghaniCredit - allAfghaniDebit;
            totalRupeDebit = allRupeCredit - allRupeDebit;
            totalDollerDebit = allDollerCredit - allDollerDebit;


        }
</script>
}